.book-container {
    font-size: 80%;
    display: flex;
    justify-content: flex-start;
    background-color: 	#FFFFF0;
    box-shadow: 10px 5px 5px #C0C0C0;
    padding: 1%;
    margin: 1%;
}

.book-info-container {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.booklist-item-container {
    background-color: 	#FFFFF0;
    box-shadow: 10px 5px 5px #C0C0C0;
    padding: 1%;
    margin: 1%;
}

.title {
    margin: 0.5%;
}

.author {
    color: #708090;
    margin: 0.5%;
}

img {
    display: block;
    width: 10%;
    height: 10%;
    padding: 1%;
}

.frontpage-app {
    background-color: 	#FFFFF0;
    box-shadow: 10px 5px 5px #C0C0C0;
    padding:1%;
    margin: 1%;
}