.book-container {
    font-size: 80%;
    display: flex;
    justify-content: flex-start;
}

.book-info-container {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.book-card-container {
    background-color: 	#FFFFF0;
    box-shadow: 10px 5px 5px #C0C0C0;
    padding: 1%;
    margin: 1%;
}

.booklist-item-container {
    background-color: 	#FFFFF0;
    box-shadow: 10px 5px 5px #C0C0C0;
    padding: 1%;
    margin: 1%;
}

.title {
    margin: 0.5%;
}

.listTitle {
    margin: 2%;
    color:  #A9A9A9;
    -webkit-text-stroke: 0.5px darkslategray;
}

.author {
    color: #708090;
    margin: 0.5%;
}

img {
    display: block;
    width: 10%;
    height: 10%;
    padding: 1%;
    flex: 0 0 10%;
}

.readlist-link-box {
    color:#2F4F4F;
    text-decoration: none;
    margin: 1%;
}
.readlist-link {
    color: #708090;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.readlist-add-button {
    border: none;
    background-color: inherit;
    color: #6A5ACD;
    text-decoration: underline;
}

.frontpage-app {
    background-color: 	#FFFFF0;
    box-shadow: 10px 5px 5px #C0C0C0;
    padding:1%;
    margin: 1%;
}
.input {
    box-shadow: 6px 3px 3px #C0C0C0; 
    margin:1%;
}
.button {
    box-shadow: 6px 3px 3px #C0C0C0;
}

.btn-listpicker {
    background-color: inherit;
    border: solid;
    margin: 10px;
    padding: 5px;
    border-radius: 28px;
}

.btn-listpicker-selected {
    background-color: black;
    color: white;
    border: solid black;
    margin: 10px;
    padding: 5px;
    border-radius: 28px;
}

.breadcrumb-link {
    margin: 5px;
    text-decoration: none;
    color: #696969;
}

.page-container {
    margin: 1%;
}

.loggedin-user{
    border: solid;
    color: #2F4F4F;
    position: absolute;
    right: 0;
}